* {
    font-family: 'CocoSharpS-Regular', sans-serif;
    margin: 0px;
}


/* Navbar */

.navbarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    overflow: hidden;
    background-color: #FBE0DC;
    position: fixed;
    top:0;
    overflow: hidden;
    min-width: 800px;
}

.navbarRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.navbarText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.navbarButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border: 1px solid #000;
    padding:5px;
}

.logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 51px;
}

.navbarText a.navbarLink:link, a.navbarLink:visited, a.navbarLink:active {
    text-decoration: none;
    color: #000;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}

.navbarText a.navbarLink:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.555);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}

#selected {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #747474;
}


.bookbutton {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #000;

}

.bookbutton:hover {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;

}

.profile {
    border: 2px solid #000;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #000;
}

a.profile:link, a.profile:visited, a.profile:active {
    text-decoration: none;
    color: #000;
    
}

a.profile:hover {
    text-decoration: none;
    color: #fff;
    
}

.profile:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

/* Log in */

.loginPatientContainer {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 120px;
    min-width: 800px;
    justify-items: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.loginPatientContainer input[type=text], input[type=password] {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 340px;
}

.loginPatientContainer input[type=submit] {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
    width: 340px;
}

.loginPatientContainer input[type=submit]:hover {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
    width: 340px;
}

.loginPatientContainer a.loginLink:link, a.loginLink:visited, a.loginLink:active {
    text-decoration: none;
    color: #000;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
}

.loginPatientContainer a.loginLink:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.555);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
}



/* Footer */

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 40px 150px 40px 150px;
    background-color: #000;
    color: #fff;
}

.footerColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.footerColumn p {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
}

footer a:link, a:active, a:visited {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
}

footer a:hover {
    text-decoration: none;
    color: #ffa9d0;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
}

.footerColumn .contactLinks {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    line-height: 22px;
}

.copyrightContainer {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
}